#root {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}
main {
  flex: 1;
  margin: auto;
  min-height: calc(100vh - 160px); /* check second operator when changing value */
}
