@font-face {
  font-family: Teko;
  src: url("/fonts/Teko/Teko-VariableFont_wght.ttf");
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: Teko;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast-body { 
  font-family: Teko; 
  font-size: large;
}

nav {
  position: sticky;
  top: 1px;
  background-color: #ffffff;

  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px;
  width: calc(100vw  - 80px);

}

.menu, .account-related {
  display: flex;
  gap: 8px;
}
.menu {
  align-items: center;
}
nav > p {
  padding-top: 8px;
  font-size: 23px;
  font-weight: 500;
  align-self: center;
  cursor: pointer;
  width: 75px;
}

nav > p > span {
  font-weight: 250;
}

.nav-links {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  margin-top: 5px;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  border: 0.95px solid;
  grid-row: 2 / 3;
  grid-column: span 2;
  width: 100%;
  height: 0px;
}

.nav-links button {
  padding: 4px 8px;
  text-align: center;
}
.nav-links img, .nav-links input, .menu hr, .menu-background {
  display: none;
}
.tag-pages {
  display: flex;
  margin-right: 15px;
  gap: 8px;
}
.tag-pages > p {
  margin: 0px;
}
.tag-pages a {
  font-size: 24px;
}
.tag-pages p {
  padding-top: 3px;
}

.SignUp {
  color: #1a1a1a;
  background-color: #ffffff;
}

a {
  font-weight: 500;
  color: #42a46d;
  text-decoration: inherit;
}
a:hover {
  color: #348155;
}

body {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: aliceblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* .nav-links > button:hover {
  border-color: #b49479;
} */
button:focus,
button:focus-visible {
  outline: 10px auto -webkit-focus-ring-color;
}
input:focus-visible {
  outline-style: none;
}

footer {
  text-align: center;
}
